# ========================
# ENVIRONMENT VARIABLES
# ========================
.env
.env.*

# ========================
# PYTHON CACHE
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# CONDA / VIRTUAL ENVS
# ========================
env/
venv/
.venv/

# ========================
# IDE FILES
# ========================
.vscode/
.idea/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# LOGS
# ========================
*.log

# ========================
# JUPYTER
# ========================
.ipynb_checkpoints/

# ========================
# BUILD FILES
# ========================
build/
dist/
*.egg-info/

# ========================
# CACHE
# ========================
.cache/
