flask==2.3.3
python-dotenv==1.0.1
gunicorn==21.2.0

pypdf==3.17.4
tiktoken==0.7.0

pinecone-client==3.2.2

langchain==0.2.10
langchain-core==0.2.23
langchain-community==0.2.10
langchain-pinecone==0.0.1
langchain-groq==0.1.5
